@model IEnumerable<DemoCrm.Data.Models.Department>

<div class="company-department-vc-block">
    <div class="company-department-vc-block-upper">
        <h3 class="company-department-vc-heading">Departments: @Model.Count()</h3>
    </div>
    <div class="company-department-vc-block-lower">
        <p class="company-department-vc-description">Add, View and Edit your departments</p>
    </div>
</div>

